doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")

		title Ash Vs Evil Dead Press Kit

		link(href="css/main.css" rel="stylesheet" type="text/css")
	body
		div.container
			include partials/header.jade

			div.content
				include partials/intro.jade
				include partials/keyart.jade
				include partials/cast.jade
				include partials/production.jade
				include partials/gallery.jade
				include partials/videos.jade
				include partials/downloads.jade

			include partials/footer.jade

		script(type="text/javascript" src="js/plugins.min.js")
		script(type="text/javascript" src="js/app.min.js")


			



		
	