/************************ GLOBALS ***********************/
$border-color: rgba(235,202,132,.4);
$border-interactive:rgba(235,202,132,.4);
$border-hover:$white;

//$overlay-border: 1px solid $border-color;
$overlay-border: none;
/************************ HEADER ***********************/
$menu-border:1px solid $border-color;
$link-border:1px solid rgba(115,139,156,.4);

//Mobile-link
$ml-border-size: 2px;
$ml-border-color: $light-grey;
$ml-border-hover: $white;

//MOBILE MENU
$mm-item-border: $border-color;
$mm-border-height: 1px;

/************************ INTRO ************************/

/*********************** KEYART ************************/

/************************ CAST *************************/
$thumb-border:1px solid rgba(0,0,0,.5);
$thumb-item-border-size:1px;
$thumb-border-color:rgba(0,0,0,.5);
$thumb-border-hover:$border-hover;

$character-photo-border-size:1px;
$character-photo-border-color:rgba(0,0,0,.5);

/************************ PROD *************************/
$prod-image-border: 1px solid rgba(0,0,0,.5);
$prod-border:1px solid rgba(0,0,0,.5);
$prod-border-light:1px solid transparent;

$prod-thumb-border-hover: 1px solid rgba(0,0,0,.5);

/*********************** GALLERY ***********************/
$gallery-item-border-size: 1px;
$gallery-item-border:$gallery-item-border-size solid $border-interactive;
$gallery-item-hover:$gallery-item-border-size solid $light-orange;

/************************ VIDEO ************************/
$video-item-border: 1px solid rgba(0,0,0,.2);

/********************** DOWNLOADS **********************/
$downloads-item-border: 1px solid rgba(0,0,0,.2);

/************************ FOOTER ***********************/