//BREAKPOINTS
$break-large:1280px;
$break-medium:1020px;
$break-small:750px;
$break-mobile:500px;

/************************ HEADER ***********************/

/************************ INTRO ************************/

/*********************** KEYART ************************/
$key-height-break:800px;

/************************ CAST *************************/
$break-tabheight:900px;
$break-cast-medium: 980px;
$break-cast-small: $character-width + 10;

/************************ PROD *************************/
$prod-image-break: $prod-image-width+50;
$prod-arrow-break: 745px;

/*********************** GALLERY ***********************/
$gallery-break6: $gallery-width6+40;
$gallery-break5: $gallery-width5+40;
$gallery-break4: $gallery-width4+40;
$gallery-break3: $gallery-width3+40;
$gallery-break2: $gallery-width2+40;

/************************ VIDEO ************************/
$video-break1: $video-container-width + 2*$video-padding+20;

/********************** DOWNLOADS **********************/
$downloads-break1: 1150px;
$downloads-break2: 950px;
$downloads-break3: 600px;

/*********************** FOOTER ************************/