/************************  SHOW COLORS  ************************/
//BLACK SAILS COLORS
$white:#fff;
$black:#000;
$red:#ed1e2e;
$orange: #df946b;
$light-orange: #efd4d1;
$light-grey: #ddd;
$medlight-grey: #aaa;
$med-grey: #666;
$dark-grey:#404040;
$yellow: #ebca84;

/********************** BACKGROUND **********************/
$background-color: $black; //PRE OVERIDE BY INDIVIDUAL PAGES

/************************ OVERLAY **********************/
$overlay-background: url(#{$imgPath}bg/paper.png) center center;
$overlay-item-background: rgba(38,23,3,.75);
$overlay-item-hover: rgba(38,23,3,.95);

/********************** TEXT COLORS **********************/
$font-color: $black;

$castprod-font-color: $medlight-grey;
$castprod-title: $yellow;

$inpagelink-color: $yellow;
$inpagelink-hover: $yellow;

$onoverlay-title: $white;
$onoverlay-text: $medlight-grey;

$closebtn-color: $med-grey;
$closebtn-hover: $black;

/************************ HEADER ***********************/
$menu-color: $black;

$link-color:$light-grey;
$link-hover:$white;

$link-highlight: $yellow;

//MOBILE LINK
$ml-background: rgba(256,256,256,.05);
//MOBILE MENU
$mm-background: rgba(38,23,3,.3);
$mm-hover-background: $black;
$mm-item-background: rgba(38,23,3,.9);

/************************ INTRO ************************/

/*********************** KEYART ************************/

/************************ CAST *************************/
$thumb-background: url(#{$imgPath}bg/pattern.jpg) #000 center center repeat-x;

/************************ PROD *************************/
$prod-background: url(#{$imgPath}bg/prodlist.jpg) $yellow center center;

$prod-thumb-background: transparent;
$prod-thumb-hover: $overlay-item-hover;
$prod-thumb-color: $dark-grey;

/*********************** GALLERY ***********************/
$gallery-item-background: black;

/************************ VIDEO ************************/
$video-item-background: $overlay-item-background;
$video-item-hover: $overlay-item-hover;
$videoname-color: $black;

/********************** DOWNLOADS **********************/
$downloads-item-background: $overlay-item-background;
$downloads-item-hover: $overlay-item-hover;

$downloads-header-color: $black;

/*********************** FOOTER ************************/
$footer-background: $black;
$footer-color: $med-grey;
