/************************  SHOW COLORS  ************************/

//ASH COLORS
$white:#fff;
$black:#000;
$red:#ed1e2e;
$orange: #df946b;
$light-orange: #efd4d1;
$light-grey: #ddd;
$medlight-grey: #a6a6a6;
$med-grey: #666;
$dark-grey:#404040;
$orange-trans-light: rgba(67,34,27,.3);
$orange-trans: rgba(67,34,27,.65);

/********************** END SHOW COLORS  **********************/

$border-color: rgba(239,212,209,.25);
$border-interactive:rgba(239,212,209,.5);
$border-hover:$white;

$menu-color: $black;
$footer-background: $black;
$footer-color: $med-grey;

$overlay-color: $orange-trans;
$cast-overlay: $orange-trans;
$menu-bg: rgba(67,34,27,.9);

$btn-color:yellow;
$btn-hover:#000000;

$item-background: $black;
$item-title: $orange;
$item-text: $med-grey;

$link-color:$light-grey;
$link-hover:$white;

$inpagelink-color: $med-grey;
$inpagelink-hover: $light-orange;
$link-highlight:$orange;
$highlight: $orange;

/********************** BACKGROUND **********************/
$background-color: $black;

/************************ OVERLAY **********************/
$overlay-background: $overlay-color;

/********************** TEXT COLORS **********************/
$font-color: $black;
$castprod-font-color: $medlight-grey;

/************************ HEADER ***********************/
//MOBILE LINK
$ml-background: rgba(256,256,256,.05);
//MOBILE MENU
$mm-background: $menu-bg;
$mm-hover-background: $black;
$mm-item-background: $menu-bg;

/************************ INTRO ************************/

/*********************** KEYART ************************/

/************************ CAST *************************/
$thumb-background: url(#{$imgPath}bg/pattern.jpg) #000 center center no-repeat;

/************************ PROD *************************/
$prod-background:$cast-overlay;

$prod-thumb-background: transparent;
$prod-thumb-hover: $cast-overlay;

/*********************** GALLERY ***********************/
$gallery-item-background: $item-background;

/************************ VIDEO ************************/
$video-item-background: $orange-trans-light;
$video-item-hover: $overlay-color;

/********************** DOWNLOADS **********************/
$downloads-item-background: $orange-trans-light;
$downloads-item-hover: $overlay-color;

/*********************** FOOTER ************************/
