/************************  SHOW COLORS  ************************/
//BLACK SAILS COLORS
$white:#fff;
$black:#000;
$red:#ed1e2e;
$orange: #df946b;
$light-orange: #efd4d1;
$light-grey: #ddd;
$medlight-grey: #a6a6a6;
$med-grey: #666;
$dark-grey:#404040;
$orange-trans-light: rgba(67,34,27,.3);
$orange-trans: rgba(67,34,27,.65);

/********************** BACKGROUND **********************/
$background-color: $black; //PRE OVERIDE BY INDIVIDUAL PAGES

/************************ OVERLAY **********************/
$overlay-background: red;
$overlay-item-hover: pink;

/********************** TEXT COLORS **********************/
$font-color: $black;

$castprod-font-color: $medlight-grey;
$castprod-title: cyan;

$inpagelink-color: $med-grey;
$inpagelink-hover: $light-orange;

$onoverlay-title: $orange;
$onoverlay-text: $med-grey;

/************************ HEADER ***********************/
$menu-color: yellow;

$link-color:$light-grey;
$link-hover:$white;

$link-highlight: red;

//MOBILE LINK
$ml-background: rgba(256,256,256,.05);
//MOBILE MENU
$mm-background: rgba(67,34,27,.9);
$mm-hover-background: $black;
$mm-item-background: rgba(67,34,27,.9);

/************************ INTRO ************************/

/*********************** KEYART ************************/
$keyart-bg: $black;

/************************ CAST *************************/
$thumb-background: url(#{$imgPath}bg/pattern.jpg) #000 center center no-repeat;

/************************ PROD *************************/
$prod-background:lime;

$prod-thumb-background: transparent;
$prod-thumb-hover: grey;

/*********************** GALLERY ***********************/
$gallery-item-background: black;

/************************ VIDEO ************************/
$video-item-background: $orange-trans-light;
$video-item-hover: $overlay-item-hover;

/********************** DOWNLOADS **********************/
$downloads-item-background: $orange-trans-light;
$downloads-item-hover: $overlay-item-hover;

/*********************** FOOTER ************************/
$footer-background: pink;
$footer-color: $med-grey;
