@import url(https://fonts.googleapis.com/css?family=Lato:400,700,100,300,900,400italic);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

//FONTS
//$font-family: "Lato", Helvetica, Arial, sans-serif;
$font-family: "EB Garamond", "Times New Roman", Georgia, Serif;
$font-spacing: 1.2px;
$font-size: 16px;

$line-height:22px;
$mobile-font-size:13px;
$mobile-line-height:16px;

/************************ HEADER ***********************/

/************************ INTRO ************************/

/*********************** KEYART ************************/

/************************ CAST *************************/

/************************ PROD *************************/

/*********************** GALLERY ***********************/

/************************ VIDEO ************************/

/********************** DOWNLOADS **********************/

/*********************** FOOTER ************************/