@import url(https://fonts.googleapis.com/css?family=Lato:400,700,100,300,900,400italic);

//FONTS
$font-family: "Lato", Helvetica, Arial, sans-serif;
$font-size: 15px;

$line-height:20px;
$mobile-font-size:13px;
$mobile-line-height:16px;