/************************ HEADER ***********************/
$menu-zindex:15;

/************************ INTRO ************************/
$intro-zindex:5;

/*********************** KEYART ************************/

/************************ CAST *************************/
$thumb-zindex: 6;

/************************ PROD *************************/
$prod-zindex:5;

/*********************** GALLERY ***********************/

/************************ VIDEO ************************/

/********************** DOWNLOADS **********************/

/*********************** FOOTER ************************/
$footer-zindex:15;