.cast{
	padding-top:0px !important;
	
	.thumb-container{
		background: $thumb-background;
		background-repeat: repeat-x;
		background-position: center bottom;
		//border-bottom:$thumb-border;
		height: $thumb-item-height + ($thumb-padding*2);
		margin-bottom: $thumb-margin-bottom;
		position: fixed;
		width:100%;
		z-index: $thumb-zindex;
		
		@media screen and (max-width: $break-cast-small) {
			display:none;	
		}
		
		.thumb-list{
			height: $thumb-item-height + $thumb-item-border-size * 2;
			margin: ($thumb-padding - 1) auto 0 auto;
			width: $thumb-width;
			overflow: hidden;
			
			.t-cast{
				width:$thumb-item-width;
				height:$thumb-item-height;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				display: block;
				float:left;
				border:$thumb-item-border-size solid $thumb-border-color;
				margin-right:$thumb-item-spacing;
				
				&:last-child{
					margin-right:0px;
				}
				
				&:hover, &.selected{
					border:$thumb-item-border-size solid $thumb-border-hover;
				}
			}
		}
	}

	.pagetitle{
		top: $character-top - 20px;
		position: absolute;
		left:50%;
		width: $character-width;
		margin-left: -1*($character-width+$character-photo-border-size*2)/2;
		background-position: center center;

		@media screen and (max-height: $break-tabheight) {
			width: $character-width-wide;
			margin-left: -1*$character-width-wide/2;
		}
		
		@media screen and (max-width: $break-cast-medium) {
			width: $character-width;
			margin-left: -1*($character-width+$character-photo-border-size*2)/2;
		}
		
		@media screen and (max-width: $break-cast-small) {
			width:90%;
			margin-left: -45%;
			top:15px;
		}
	}
	
	.character{
		position: absolute;
		left:50%;
		width: $character-width;
		margin-left: -1*($character-width+$character-photo-border-size*2)/2;
		top: $character-top +15;

		&.ng-hide-add, &.ng-hide-remove{
			@include transition-property(all);
  			@include transition-duration(0s);
  			@include transition-timing-function(linear);
		}

		&.forward.ng-hide-add-active, &.forward.ng-hide-remove-active, &.backward.ng-hide-add-active, &.backward.ng-hide-remove-active{
			@include transition-property(all);
  			@include transition-duration(.2s);
  			@include transition-timing-function(linear);
		}

		&.forward.ng-hide-add {
			left:50%;
			opacity:1;
		}
		&.forward.ng-hide-add.ng-hide-add-active { 
			left:0%;
			opacity:0;
		}
		&.forward.ng-hide-remove {
			left:100%;
			opacity: 0;
		}
		&.forward.ng-hide-remove.ng-hide-remove-active {
			left:50%;
			opacity:1;
		}

		&.backward.ng-hide-add {
			left:50%;
			opacity:1;
		}
		&.backward.ng-hide-add.ng-hide-add-active { 
			left:100%;
			opacity:0;
		}
		&.backward.ng-hide-remove {
			left:0%;
			opacity: 0;
		}
		&.backward.ng-hide-remove.ng-hide-remove-active {
			left:50%;
			opacity:1;
		}
		
		@media screen and (max-height: $break-tabheight) {
			width: $character-width-wide;
			margin-left: -1*$character-width-wide/2;
		}
		
		@media screen and (max-width: $break-cast-medium) {
			width: $character-width;
			margin-left: -1*($character-width+$character-photo-border-size*2)/2;
		}
		
		@media screen and (max-width: $break-cast-small) {
			width:90%;
			margin-left: -45%;
			top:50px;
		}
		
		&:first-child{
			display: block;
		}
		
		&-image{
			width: $character-width;
			height:$character-photo-height;
			margin: auto;
			border:$character-photo-border-size solid $character-photo-border-color;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			margin-bottom: 20px;
			background-size: contain;
			
			@media screen and (max-height: $break-tabheight) {
				float:left;
				width: $character-width*.9;
				height:$character-photo-height*.9;
				margin-top: 30px;
			}
			
			@media screen and (max-width: $break-cast-medium) {
				float:none;
				width: $character-width;
				height:$character-photo-height;
				margin-top: 0px;
			}
			
			@media screen and (max-width: $break-cast-small) {
				width: 	$character-width*.5;
				height: $character-photo-height*.5;
			}	
		}
		
		&-copy{
			width: $character-width;
			margin: auto;
			padding-bottom:100px;
			
			@media screen and (max-height: $break-tabheight) {
				float:right;
				width: $character-width-wide - ( $character-width*.9 ) - 20;
			}
			
			@media screen and (max-width: $break-cast-medium) {
				width: $character-width;
				float:none;
				padding-bottom: 100px;
			}
			
			@media screen and (max-width: $break-cast-small) {
				width:100%;	
			}

			.icon{
				width: $character-quote-width;
				margin: auto;
				padding-top: $character-icon-height;
				background-size: contain;
				background-repeat: no-repeat;
			}

			.quote{
				width: $character-quote-width;
				margin: auto;
				//padding-top: $character-quote-height;
				background-size: contain;
				background-repeat: no-repeat;
				margin-bottom: 5px;

				@media screen and (max-width: $break-mobile) {
					width:100%;
					//padding-top: $character-quote-height-mobile;
				}
			}
			
			.character-name{
				@extend .nameitem;
				width: $character-quote-width;
				background-position: center center;
				padding-top: 20px;
				background-size:auto;

				@media screen and (max-width: $break-mobile) {
					width:100%;
				}
			}
			
			.actor-name{
				@extend .titleitem;
			}
			
			.character-desc{
				@extend .textblock;
				margin-top: 10px;
			}
		}
	}
	
	.cast-arrows{
		@extend .arrow-container;
		left:50%;
		width: $arrow-container-width;
		margin-left: -1*$arrow-container-width/2;
		top:$arrow-top+40;
		
		@media screen and (max-height: $break-tabheight) {
			width: $character-width-wide - ( $character-width*.9 ) - 20;
			margin-left: -1*$character-width-wide/2;;
			top:$character-photo-height*.9 + $menu-height + $thumb-item-height + 10;
		}
		
		@media screen and (max-width: $break-cast-medium) {
			width: $character-width;
			margin-left: -1*$character-width/2;
			top: $thumb-item-height + $thumb-item-spacing*2 + 94 + $character-photo-height;
		}
		
		@media screen and (max-width: $break-cast-small) {
			width:90%;
			margin-left:-45%;
			//top: $character-photo-height*.5 + $thumb-item-height;
			top: $character-photo-height*.5 + 80;
		}

		.cast-prev{
			@extend .prevbtn;
		}
		
		.cast-next{
			@extend .nextbtn;
		}
	}
}