$menu-height:80px;
$menu-width:1080px;
$menu-zindex:15;

$menu-border:1px solid $border-color;

//SHOW TA
$logo-width:267px;
$logo-height:60px;
$logo-space:10px;

//STARZ LOGO
$starzlogo-width:93px;
$starzlogo-height:30px;
$starzlogo-space:$logo-space;

//LINK 
$link-border:1px solid rgba(115,139,156,.4);
$link-padding: 5px;

//Mobile-link
$ml-size:35px;
$ml-border-size: 2px;
$ml-border-color: $light-grey;
$ml-border-hover: $white;
$ml-background: rgba(256,256,256,.05);
$ml-span-height:3px;
$ml-span-width: 80%;

//MOBILE HEIGHTS
$menu-mobile-height: 50px;
$logo-mobile-resize: .55;
$starz-mobile-resize: .86;
$mm-link-mobile-size: 30px;

.header{
	height:$menu-height;
	background:$menu-color;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index: $menu-zindex;
	border-bottom: $menu-border;
	
	@media screen and (max-width: $break-mobile){
		height:$menu-mobile-height;
	}
	
	.header-container{
		width:$menu-width;
		margin: auto;
		position: relative;
		
		@media screen and (max-width: $menu-width) {
			width:100%;
		}
		
		.logo{
			position: absolute;
			background: url(#{$imgPath}ta.png) no-repeat center center;
			width:$logo-width;
			height:$logo-height;
			top: ($menu-height - $logo-height)/2;
			left:$logo-space;
			background-size: contain;
			cursor: hand;
			
			@media screen and (max-width: $break-mobile){
				width: $logo-width*$logo-mobile-resize;
				height: $logo-height*$logo-mobile-resize;
				top: ($menu-mobile-height - ($logo-height*$logo-mobile-resize))/2;
			}
		}
		
		.headerlogo{
			position: absolute;
			right:$starzlogo-space;
			background: url(#{$imgPath}logo.svg) no-repeat center center;
			height:$starzlogo-height;
			width:$starzlogo-width;
			top:($menu-height - $starzlogo-height)/2;
			background-size:contain;
			
			@media screen and (max-width: $break-mobile){
				width: $starzlogo-width * $starz-mobile-resize;
				height: $starzlogo-height * $starz-mobile-resize;
				top: ($menu-mobile-height - ( $starzlogo-height * $starz-mobile-resize ))/2;
			}	
		}
		
		.menu{
			text-align: center;
			position:absolute;
			width: $menu-width - ( $logo-width + $logo-space * 2 + $starzlogo-width + $starzlogo-space * 2);
			height: $menu-height;
			top: ( $menu-height - $font-size - 1 )/2;
			left:$logo-width + $logo-space * 2;
			
			.mlink{
				color: $link-color;
				font-size: $font-size + 1;
				border-right: $link-border;
				padding: 0 $link-padding;
				display: inline-block;
				//text-transform: uppercase;
				
				&:last-child{
					border:none;
				}
				
				&.mhighlight{
					color:$link-highlight;
					
					
				}
				
				&:hover{
					color:$link-hover;
				}
			}
			
			@media screen and (max-width: $menu-width){
				display:none;
			}
		}
		
		.mobile-link{
			background: $ml-background;
			width:$ml-size;
			height:$ml-size;
			position:absolute;
			left:$logo-width + $logo-space * 2;
			border:$ml-border-size solid $ml-border-color;
			top: ( $menu-height - ( $ml-size + $ml-border-size*2 ) )/2;
			display: none;
			
			@media screen and (max-width: $menu-width){
				display:block;
			}
			
			@media screen and (max-width: $break-mobile){
				width: $mm-link-mobile-size;
				height: $mm-link-mobile-size;
				left:$logo-width * $logo-mobile-resize + $logo-space * 2 ;
				top: ( $menu-mobile-height - (  $mm-link-mobile-size + $ml-border-size*2 ) )/2
			}
			
			span{
				display: block;
				height: $ml-span-height;
				width: $ml-span-width;
				background: $ml-border-color;
				margin: 6px auto;
				
				&:first-child{
					margin-top: 7px;
				}
				
				@media screen and (max-width: $break-mobile){
					margin: 4px auto;
				}	
			}
			
			&:hover{
				border:$ml-border-size solid $ml-border-hover;
				
				span{
					background: $ml-border-hover;
				}
			}
		}
	}
}

$mm-width: 300px;
$mm-background: $menu-bg;
$mm-hover-background: $black;
$mm-item-height: 45px;
$mm-item-background: $menu-bg;
$mm-item-border: $border-color;
$mm-border-height: 1px;

.mobile-menu{
	position:fixed;
	width:$mm-width;
	height:100%;
	z-index: $menu-zindex - 1;
	top:0px;
	left:0px;
	overflow: hidden;
	display: none;
	border-right: 1px solid $mm-item-border;
	
	@media screen and (max-width: $break-mobile){
		width:100%;
		border:none;
	}
	
	.menu-list{
		width:100%;
		height:1000px;
		position: absolute;
		right:0px;
		top:$menu-height;
		background: $mm-background;
		
		
		@media screen and (max-width: $break-mobile){
			top: $menu-mobile-height;
		}
		
		.mmlink{
			height: $mm-item-height;
			width: 100%;
			text-align: center;
			display: block;
			background: $mm-item-background;
			line-height: $mm-item-height;
			color:$link-color;
			border-top: $border-color;
			border-bottom: $mm-border-height solid $mm-item-border;
			text-transform: uppercase;
			
			&.mhighlight{
				color:$highlight;
			}
			
			&:hover{
				background: $mm-hover-background;
				color:$white;
			}
		}
	}
}