$key-width:950px;
$key-height-break:800px;

$key-logo-width:350;
$key-logo-ratio: 232/478 *100%;

$key-tunein-width: 350px;
$key-tunein-ratio: 43/383;

.keyart{
	background:$black;
	width:100%;
	padding-top:0px !important;
	overflow-y: scroll;
	
	&-container{
		width: $key-width;
		margin: auto;
		position: relative;

		@media screen and (max-width: $key-width) {
			width:100%;	
		}
		
		@media screen and (min-width:$key-width) and (max-height:$key-height-break){
			width:64%;
			position: absolute;
			left:-5%;
			top:0;
		}
		
		img{
			width:100%;
		}
		
		.bottom-gradient{
			@include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1) 85%));
			position: absolute;
			width:100%;
			height:40%;
			bottom:0;
		}
		
		.left-gradient{
			@include background-image(linear-gradient(to left,rgba(0,0,0,0), rgba(0,0,0,1)));
			position:absolute;
			width:10%;
			height:100%;
			top:0;
			left:-1px;
			
			@media screen and (max-width: $key-width) {
				display: none;
			}
				
		}
		
		.right-gradient{
			@include background-image(linear-gradient(to right,rgba(0,0,0,0), rgba(0,0,0,1)));
			position:absolute;
			width:10%;
			height:100%;
			top:0;
			right:-1px;
			
			@media screen and (min-width:$key-width) and (max-height:$key-height-break){
				width:25%;	
			}
			
			@media screen and (max-width: $key-width) {
				display: none;
			}
		}
	}
	
	.copy-container{
		width: $key-width;
		margin: auto;
		padding-bottom: 75px;
		position: relative;
		top:-25%;
		
		@media screen and (max-width: $key-width) {
			width:100%;	
			padding-bottom: 30px;
		}

		@media screen and (max-width: $break-small) {
			top:-10%;
		}
		
		@media screen and (min-width:$key-width) and (max-height:$key-height-break){
			position:absolute;
			z-index: 10;
			right: 0;
			top:0%;
			width:50%;	
		}
		
		.synposis{
			@extend .textblock;
			width:80%;
			margin: auto;
			
			@media screen and (min-width:$key-width) and (max-height:$key-height-break){
				width:90%;	
			}	
			
			p{
				margin-bottom: 10px;
			}
		}
		
		.key-logo{
			width:$key-logo-width+px;
			width:100%*.4;
			padding-top:$key-logo-ratio*.4;
			background: url(#{$imgPath}ta_large.png) center top no-repeat;
			background-size: 100% 100%;
			margin: 0 auto 15px auto;
			
			@media screen and (max-width: $key-width) {
				margin-top:20px;
				margin-bottom:10px;
			}
				
			@media screen and (min-width:$key-width) and (max-height:$key-height-break){
				margin-top:20px;
				margin-bottom:10px;
			}
		}
		
		.key-tunein{
			width:$key-tunein-width;
			height:$key-tunein-ratio*$key-tunein-width;
			background: url(#{$imgPath}tunein.png) center bottom no-repeat;
			background-size: contain;
			margin: 30px auto 0 auto;
			
			@media screen and (max-width: $key-width) {
				margin-top:20px;
				margin-bottom:10px;
				width:60%;
			}
		}
	}
}

