//DOWNLOADS
div#downloads.downloads.section(ng-show="page==='downloads'")
	div.downloads-content
		div.pagetitle(style="background-image:url(images/titles/downloads.png);")
		//PDFS
		div.downloads.dl-section
			h3 DOWNLOAD PDF FILES
			ul.downloads-list
				li(ng-repeat="PDF in pdfs")
					a(href="{{PDF.path}}" target="_blank")
						div.download-name {{PDF.name}}
						div.clickto CLICK HERE TO DOWNLOAD
			br.clear
		//MEDIA ROOM
		div.mediaroom.dl-section
			h3 HIGH RESOLUTION IMAGES
			div.mediaroom-list
				a(href="http://starz.mediaroom.com/index.php?s=64&cat=87" target="_blank")
					span Visit STARZ Media Room to download high resolution images and videos
		//PRESS CONTACTS
		div.press-contacts.dl-section
			h3 PRESS CONTACTS
			ul.contacts
				li(ng-repeat="Contact in contacts")
					a(href="mailto:{{Contact.email}}?subject=BLack%20Sails%203%20Presskit")
						div.contact-name {{Contact.name}}
						div.contact-company {{Contact.company}}
						div.contact-phone {{Contact.phone}}
						div.contact-email {{Contact.email}}
			br.clear
