//FOOTER
div.footer
	div.social
		a.facebook(target="_blank" href="https://www.facebook.com/ashvsevildead")
		a.twitter(target="_blank" href="https://twitter.com/ashvsevildead")
		a.tumblr(target="_blank" href="http://ashvsevildead.tumblr.com/")
	div.copyright STARZ and related channels and service marks are the property of Starz Entertainment, LLC. Ash Vs Evil Dead &copy; 2015 Starz Entertainment, LLC. All Rights Reserved.
