//GALLERY
div#gallery.gallery.section(ng-show="page==='gallery'" ng-init="photoNum=-1")
	div.gallery-container
		//GALLERY VIEW
		div.gallery-view(ng-show="photoNum>=0")
			a.g-close(ng-click="photoNum=-1") CLICK TO CLOSE IMAGE
			div.image-view
				img(ng-repeat="Photo in photos" ng-src="images/gallery/f/{{Photo.path}}" ng-show="$index==photoNum" ng-cloak)
			div.image-desc {{photos[photoNum].caption }}
			div.g-arrows
				a.g-next(ng-click="changeItem(1,'photoNum', 'photos')")
				a.g-prev(ng-click="changeItem(-1,'photoNum', 'photos')")
		//GALLERY LIST
		div.gallery-list(ng-show="photoNum<0")
			a.gallery-item(ng-repeat="Photo in photos" ng-click="thumbClick($index,'photoNum')" style="background-image:url(images/gallery/t/{{Photo.path}})")
			div.clear
		//VIEW ALL
		p.centerText.caps.gallerybottom
			a(href="http://starz.mediaroom.com/index.php" target= "_blank") Visit Starz Media Room to Download High Resolution Images		