//KEYART
div#keyart.keyart.section(ng-show="page==='synopsis'" style="height:{{contentHeight}}px;")
	div.keyart-container
		div.bottom-gradient
		div.left-gradient
		div.right-gradient
		img(src="images/bg/keyart.jpg")
	div.copy-container
		div.key-logo
			div
		div.synposis
			p(ng-repeat="p in synopsis" ng-bind-html="safeHTML(p)")
		div.key-tunein
