//PRODUCTION
div#production.production.section(ng-show="page==='production'" ng-init="prodNum=0")
	div.prod-container
		//LIST
		div.prod-list
			a.t-prod(ng-repeat="Prod in prod" ng-click="thumbClick($index,'prodNum')" class=" {{(prodNum==$index)?'selected':''}} " ng-bind-html="safeHTML(Prod.name)")
		//ARROWS
		div.prod-arrows(class="{{(prod[prodNum].image==true)?'withimage':''}}")
			a.prod-next(ng-click="changeItem(1,'prodNum', 'prod')")
			a.prod-prev(ng-click="changeItem(-1,'prodNum', 'prod')")
		//PROD BIOS
		div.prod-content
			div.prod(ng-repeat="Prod in prod" ng-show="$index==prodNum" class="{{(direction)?'forward':'backward'}}")
				div.prod-image(ng-if="prod[$index].image" style="background-image:url(images/prod/{{Prod.safename}}_l.jpg)")
				div.prod-copy
					div.prod-name(ng-bind-html="safeHTML(Prod.name)")
					div.prod-position(ng-bind-html="safeHTML(Prod.role)")
					p(ng-repeat="p in Prod.desc" ng-bind-html="safeHTML(p)")