//VIDEOS
div#video.videos.section(ng-show="page==='videos'" ng-init="videoNum=-1")
	div.video-list
		//VIDEO CONTAINER
		div.video-container(ng-show="videoNum>=0")
			a.closevideo(ng-click="videoNum=-1") CLICK TO CLOSE VIDEO
			div.videoplayer
				div.videoplayer-content(ng-if="videoNum>=0" ng-cloak)
					iframe(width="100%" height="100%" frameborder="0" ng-src="{{safeURL(videos[videoNum].path)}}")
			div.player-copy
				div.video-name {{videos[videoNum].name}}
				div.video-desc {{videos[videoNum].desc}}
		//VIDEO ITEMS
		div.video-items(ng-show="videoNum<0")
			div.pagetitle(style="background-image:url(images/titles/videos.png);")
			a.video-item(ng-repeat="Video in videos" ng-click="thumbClick($index,'videoNum')" style="background-image:url(images/video/{{Video.thumb}})")
				div.video-copy
					div.video-name {{Video.name}}
					div.video-desc {{Video.desc}}
					div.clickheretoplay Click here to play